* {
  padding: 0;
  margin: 0;
  /* background-color: #212529 !important;  */
}

.my-root {
  width: 99.8vw;
  height: 100vh;
  position: relative;
}

.navbar {
  background-color: #212529 !important;

  height: 15%;
  width: 100%;
}

.navbar-left {
  margin-left: 10px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start
}

.navbar-right {
  margin-right: 30px;
}

.navbar-left-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

.navbar-left-ul li a {
  text-decoration: underline;
  cursor: pointer;
  list-style-type: none;

  color: white;
  font-size: large
}

.navbar-left-ul li a:hover {
  color: grey;
}

.navbar-right-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.navbar-right-ul li a {
  font-size: large;
  text-decoration: underline;
  cursor: pointer;
  list-style: none;
  color: white
}

.navbar-right-ul li a:hover {
  color: rgb(185, 71, 71);
}

.project-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;

}

.sidebar {

  width: 15%;
  height: 100%;
}

.project-right-container {
  position: relative;
  background-color: #2d3034 !important;
  width: 85%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  min-height: 100%;
  height: auto;
}

.task-and-members {
  /* border : 2px solid red ; */
  width: 100%;
  height: 69%;
  /* background: transparent */
}

.task-container {
  width: 100%;

}

.task-container table {
  font-size: 12px;
}

.task-container table tbody {
  font-size: 13.1px;
}

.display {
  border-radius: 10px;
  position: absolute;
  width: 98.5%;
  margin: 2px px;
  background-color: #212529f9 !important;
  height: 70%;
  overflow-y: auto;
  padding: 10px;
}

.display2 {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  margin: 2px px;
  background-color: #212529f9 !important;
  height: 80%;
  min-height: 30vh;
  overflow-y: auto;
  padding: 10px;
}

.task-individual-container {
  padding: 1px;
  width: 100%;
  height: 100%;
  background-color: #212529f9 !important;
}

.log-individual-container {
  padding: 1px;
  width: 100%;
  min-height: 100%;

  /* border: 2px solid red; */
  height: auto;
  background-color: #212529f9 !important;
}


.log-show-container {
  height: 80%;
  width: 95%;
  margin: auto;
  margin-top: 2%;
  position: relative;
  font-size: 1.0rem
}

.makelink {
  text-decoration: underline;
  color: rgb(180, 234, 255) !important;
  cursor: pointer;
}

.task-all-sorting-searching-feature {

  width: 95%;
  height: 8%;
  margin: auto;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4%
}

.Logs-all-sorting-searching-feature {
  width: 95%;
  height: 8%;
  margin: auto;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4%
}

.my-select {

  min-width: 115%;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background-color: #4a4d50 !important;
}

.task-show-container {

  height: 80%;
  width: 95%;
  margin: auto;
  margin-top: 1%;
  position: relative;
  font-size: 1.0rem
}

.refresh {
  color: white;
  cursor: '';
}

.about-outer-container {
  width: 100%;
  min-height: 100%;
  background-color: #212529 !important;
  padding: 4%;
}

.about-container {
  width: 70%;

  margin: auto;
  background-color: #212529 !important;
  z-index: 20;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.social-media {
  text-decoration: none;
  margin: 10px;
}

.notification-container {
  color: white;
  font-size: 0.9rem;
  /* background-color: rgb(255, 255, 255); */
  z-index: 20;
  overflow-y: auto;
  width: 30%;
  height: 50%;
  position: absolute;
  top: 8%;
  right: 4.9%;
  /* background-color: #ffffff !important; */
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(74, 74, 74, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
 padding: 0.5%;
}





.login-form-main-container {
  /* background-color: #212529 !important; */
  background-image: url(https://img.freepik.com/free-vector/social-distancing-meeting_52683-38356.jpg?w=1380&t=st=1715688899~exp=1715689499~hmac=cad1ed8381e6f8d08a25e03edb1c323101e07df947672efbab025d5c722a6fc7);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.form-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.myform {
  border-radius: 4%;
  width: 20%;
  padding: 2%;
  /* background-color: rgb(58, 55, 55) !important; */
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(74, 76, 82, 0.75) !important;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  z-index: 2;
}


.form-container2 {
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column ; 
  align-items: center;
  color: white;
  gap : 10% ;
  margin-top: 2%
}

.myform2{
  z-index: 1;
 padding: 6%;
 border-radius: 2% ;
 background-color: rgba(36, 31, 31, 0.884) !important;
 
  
}

.addproject-container{
  display: flex ;
  justify-content: center; 
   background-image: url(https://assets.materialup.com/uploads/ce3a8fd5-db60-43cc-8b1b-991eb8ad6de0/preview.png);
  /* background-color: #212529 !important; */
  width: 100% ;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.911); 
}

.logoimage{
  width: 50px;
  height: 10%;
  border-radius: 100%;
}

.user-profile{
  border-radius: 1%;
  width: 20%; 
  min-height: 20rem;
  height: 20rem;
  z-index: 1;
  /* background-color: rgb(59, 59, 59); */
  backdrop-filter: blur(5px) saturate(178%) ;
  -webkit-backdrop-filter: blur(5px) saturate(178%) ;
  background-color: rgba(74, 74, 74, 0.75);
  border-radius: 12px ;
  border: 1px solid rgba(255, 255, 255, 0.125) ;
  position: absolute;
  right: 2.3%;
  box-shadow: 0 4px 8px 0 rgba(59, 57, 57, 0.2), 0 6px 20px 0 rgba(59, 57, 57, 0.19);
}

.profile-image{
  width: 100% ; 
  /* background-color: rgb(83, 83, 83) ; */
  height: 30%;
  display: flex ;
  justify-content: center ;
  align-items:  center;
}

.list-user li{
  list-style-type: none;
}

.logoutbtn{
  width: 100%;
  margin-top: 16%;
  padding-right: 4%;
   background-color: red;
}